.header, .aside, .footer, .main{
	padding: 20px;
}
.content{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header{
	background: lightblue;
	flex-basis: 60px;
}
.main{
	background: darkcyan;
	flex-basis: 300px;
	flex-grow: 2;
	flex-shrink: 0;
}
.aside{
	background: silver;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 0;

}
.footer{
	background: goldenrod;
	flex-grow: 1;
}
@media screen and (min-width: 900px){
	/*Con flex*/
/*	.content{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.header{
		flex-basis: 100%;
		max-height: 60px;
	}
	.footer{ 
		flex-basis: 100%;
	}
	.main, .aside{
		height: 530px;
	}
	.main{
		flex-grow: 4;
	}
	.aside{
		flex-grow: 1;
	}*/
	/*Con grid*/
	.content{
		display: grid;
		grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
		grid-template-columns: repeat(3, 1fr);
	}
	.header{
		grid-column: 1/ span 3;
	}
	.footer{ 
		grid-row: 6/7;
		grid-column: 1/ span 3;
	}
	.main{
		grid-row: 2/6;
		grid-column: 1/ span 2;
	}
	.aside{
		grid-row: 2/6;
	}
}